<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skill.manager.mapper.UmCodelistRackTypeMapper">

    <resultMap type="UmCodelistRackType" id="UmCodelistRackTypeResult">
        <result property="rackTypeId"    column="rack_type_id"    />
        <result property="rackTypeName"    column="rack_type_name"    />
        <result property="limitskill"    column="limit_skill"    />
        <result property="startskill"    column="start_skill"    />
        <result property="endskill"    column="end_skill"    />
        <result property="slotskill"    column="slot_skill"    />
        <result property="limitServer"    column="limit_server"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUmCodelistRackTypeVo">
        select rack_type_id, rack_type_name, limit_skill, start_skill, end_skill, slot_skill, limit_server, status, create_by, create_time, update_by, update_time from um_codelist_rack_type
    </sql>

    <select id="selectUmCodelistRackTypeList" parameterType="UmCodelistRackType" resultMap="UmCodelistRackTypeResult">
        <include refid="selectUmCodelistRackTypeVo"/>
        <where>
            and status = '0'
            <if test="rackTypeName != null  and rackTypeName != ''"> and rack_type_name like concat('%', #{rackTypeName}, '%')</if>
            <if test="limitskill != null "> and limit_skill = #{limitskill}</if>
            <if test="slotskill != null "> and slot_skill = #{slotskill}</if>
            <if test="limitServer != null "> and limit_server = #{limitServer}</if>
        </where>
        order by create_time  desc
    </select>
    
    <select id="selectUmCodelistRackTypeById" parameterType="String" resultMap="UmCodelistRackTypeResult">
        <include refid="selectUmCodelistRackTypeVo"/>
        where rack_type_id = #{rackTypeId}
    </select>
        
    <insert id="insertUmCodelistRackType" parameterType="UmCodelistRackType">
        insert into um_codelist_rack_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rackTypeId != null  and rackTypeId != ''">rack_type_id,</if>
            <if test="rackTypeName != null  and rackTypeName != ''">rack_type_name,</if>
            <if test="limitskill != null ">limit_skill,</if>
            <if test="startskill != null ">start_skill,</if>
            <if test="endskill != null ">end_skill,</if>
            <if test="slotskill != null ">slot_skill,</if>
            <if test="limitServer != null ">limit_server,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rackTypeId != null  and rackTypeId != ''">#{rackTypeId},</if>
            <if test="rackTypeName != null  and rackTypeName != ''">#{rackTypeName},</if>
            <if test="limitskill != null ">#{limitskill},</if>
            <if test="startskill != null ">#{startskill},</if>
            <if test="endskill != null ">#{endskill},</if>
            <if test="slotskill != null ">#{slotskill},</if>
            <if test="limitServer != null ">#{limitServer},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUmCodelistRackType" parameterType="UmCodelistRackType">
        update um_codelist_rack_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="rackTypeName != null  and rackTypeName != ''">rack_type_name = #{rackTypeName},</if>
            <if test="limitskill != null ">limit_skill = #{limitskill},</if>
            <if test="startskill != null ">start_skill = #{startskill},</if>
            <if test="endskill != null ">end_skill = #{endskill},</if>
            <if test="slotskill != null ">slot_skill = #{slotskill},</if>
            <if test="limitServer != null ">limit_server = #{limitServer},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where rack_type_id = #{rackTypeId}
    </update>

    <!--删除实际上是逻辑删除-->
    <update id="deleteUmCodelistRackTypeByIds" parameterType="String">
        update um_codelist_rack_type
        <trim prefix="SET" suffixOverrides=",">
            status = '1'
        </trim>
        where rack_type_id in
        <foreach item="rackTypeId" collection="array" open="(" separator="," close=")">
            #{rackTypeId}
        </foreach>
    </update>

    <delete id="deleteUmCodelistRackTypeById" parameterType="String">
        delete from um_codelist_rack_type where rack_type_id = #{rackTypeId}
    </delete>

<!--    <delete id="deleteUmCodelistRackTypeByIds" parameterType="String">-->
<!--        delete from um_codelist_rack_type where rack_type_id in -->
<!--        <foreach item="rackTypeId" collection="array" open="(" separator="," close=")">-->
<!--            #{rackTypeId}-->
<!--        </foreach>-->
<!--    </delete>-->
    
</mapper>