<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skill.manager.mapper.UmEquipmentLocationMapper">

    <resultMap type="UmEquipmentLocation" id="UmEquipmentLocationResult">
        <result property="id"    column="id"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="rackId"    column="rack_id"    />
        <result property="rackAisleId"    column="rack_aisle_id"    />
        <result property="dcRoomId"    column="dc_room_id"    />
        <result property="datacenterId"    column="datacenter_id"    />
        <result property="factoryId"    column="factory_id"    />
        <result property="equipmentType"    column="equipment_type"    />
        <result property="startskill"    column="start_skill"    />
        <result property="endskill"    column="end_skill"    />
        <result property="createTime"    column="create_time"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="rackName"    column="rack_name"    />
        <result property="rackAisleName"    column="rack_aisle_name"    />
        <result property="dcRoomName"    column="dc_room_name"    />
        <result property="datacenterName"    column="datacenter_name"    />
        <result property="factoryName"    column="factory_name"    />
        <result property="typeName"    column="typename"    />
    </resultMap>

    <sql id="selectUmEquipmentLocationVo">
        select id,
               local.equipment_id,
               local.rack_id,
               local.rack_aisle_id,
               local.dc_room_id,
               local.datacenter_id,
               local.factory_id,
               local.equipment_type,
               local.start_skill,
               local.end_skill,
               local.create_time,
               ifnull(equipment_name,'未命名设备') equipment_name,
               rack_name,
               rack_aisle_name,
               dc_room_name,
               datacenter_name,
               factory_name,
               code.dict_label typename
        from um_equipment_location local
                 left join um_equipment equ on local.equipment_id=equ.equipment_id
                 left join um_equipment_rack rack on rack.rack_id=local.rack_id
                 left join um_equipment_rack_aisle aisle on aisle.rack_aisle_id=local.rack_aisle_id
                 left join um_scene_datacenter_room room on room.dc_room_id = local.dc_room_id
                 left join um_scene_datacenter center on center.datacenter_id=local.datacenter_id
                 left join um_scene_factory factory on factory.factory_id=local.factory_id
                 left join (select * from sys_dict_data where dict_type = 'equipment_type')  code
                           on local.equipment_type = code.dict_value   </sql>

    <select id="selectUmEquipmentLocationList" parameterType="UmEquipmentLocation" resultMap="UmEquipmentLocationResult">
        <include refid="selectUmEquipmentLocationVo"/>
        <where>
            <if test="rackId != null  and rackId != ''"> and local.rack_id=  #{rackId}</if>
            <if test="factoryId != null  and factoryId != ''"> and local.factory_id = #{factoryId}</if>
            <if test="datacenterId != null  and datacenterId != ''"> and local.datacenter_id = #{datacenterId}</if>
            <if test="rackAisleId != null  and rackAisleId != ''"> and local.rack_aisle_id = #{rackAisleId}</if>
            <if test="equipmentType != null  and equipmentType != ''"> and local.equipment_type = #{equipmentType}</if>
            <if test="dcRoomId != null  and dcRoomId != ''"> and local.dc_room_id = #{dcRoomId} </if>
            <if test="createTime != null"> and local.create_time like concat('%', date_format(#{createTime},'%Y-%m-%d'), '%') </if>
            <if test="equipmentName != null and equipmentName != ''"> and equ.equipment_name like concat('%',#{equipmentName},'%')</if>

        </where>
        order by local.create_time desc
    </select>

    <select id="selectUmEquipmentLocationById" parameterType="String" resultMap="UmEquipmentLocationResult">
        <include refid="selectUmEquipmentLocationVo"/>
        where equipment_id = #{equipmentId}
    </select>

    <insert id="insertUmEquipmentLocation" parameterType="UmEquipmentLocation">
        insert into um_equipment_location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="equipmentId != null  and equipmentId != ''">equipment_id,</if>
            <if test="rackId != null  and rackId != ''">rack_id,</if>
            <if test="rackAisleId != null  and rackAisleId != ''">rack_aisle_id,</if>
            <if test="dcRoomId != null  and dcRoomId != ''">dc_room_id,</if>
            <if test="datacenterId != null  and datacenterId != ''">datacenter_id,</if>
            <if test="factoryId != null  and factoryId != ''">factory_id,</if>
            <if test="equipmentType != null  and equipmentType != ''">equipment_type,</if>
            <if test="startskill != null ">start_skill,</if>
            <if test="endskill != null ">end_skill,</if>
            <if test="createTime != null ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="equipmentId != null  and equipmentId != ''">#{equipmentId},</if>
            <if test="rackId != null  and rackId != ''">#{rackId},</if>
            <if test="rackAisleId != null  and rackAisleId != ''">#{rackAisleId},</if>
            <if test="dcRoomId != null  and dcRoomId != ''">#{dcRoomId},</if>
            <if test="datacenterId != null  and datacenterId != ''">#{datacenterId},</if>
            <if test="factoryId != null  and factoryId != ''">#{factoryId},</if>
            <if test="equipmentType != null  and equipmentType != ''">#{equipmentType},</if>
            <if test="startskill != null ">#{startskill},</if>
            <if test="endskill != null ">#{endskill},</if>
            <if test="createTime != null ">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateUmEquipmentLocation" parameterType="UmEquipmentLocation">
        update um_equipment_location
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null  and id != ''">id = #{id},</if>
            <if test="rackId != null  and rackId != ''">rack_id = #{rackId},</if>
            <if test="rackAisleId != null  and rackAisleId != ''">rack_aisle_id = #{rackAisleId},</if>
            <if test="dcRoomId != null  and dcRoomId != ''">dc_room_id = #{dcRoomId},</if>
            <if test="datacenterId != null  and datacenterId != ''">datacenter_id = #{datacenterId},</if>
            <if test="factoryId != null  and factoryId != ''">factory_id = #{factoryId},</if>
            <if test="equipmentType != null  and equipmentType != ''">equipment_type = #{equipmentType},</if>
            <if test="startskill != null ">start_skill = #{startskill},</if>
            <if test="endskill != null ">end_skill = #{endskill},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
        </trim>
        where equipment_id = #{equipmentId}
    </update>

    <!--逻辑删除时使用该语句
    <update id="deleteUmEquipmentLocationByIds" parameterType="String">
        update um_equipment_location
        <trim prefix="SET" suffixOverrides=",">
            status = '1'
        </trim>
        where  equipment_id in
        <foreach item="equipmentId" collection="array" open="(" separator="," close=")">
            #{equipmentId}
        </foreach>
    </update>-->

    <delete id="deleteUmEquipmentLocationById" parameterType="String">
        delete from um_equipment_location where equipment_id = #{equipmentId}
    </delete>

    <delete id="deleteUmEquipmentLocationByEquIds" parameterType="String">
        delete from um_equipment_location where equipment_id in
        <foreach item="equipmentId" collection="array" open="(" separator="," close=")">
            #{equipmentId}
        </foreach>
    </delete>

</mapper>