<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skill.manager.mapper.UmEquipmentRackSlotMapper">

    <resultMap type="UmEquipmentRackSlot" id="UmEquipmentRackSlotResult">
        <result property="slotId"    column="slot_id"    />
        <result property="rackId"    column="rack_id"    />
        <result property="startskillNo"    column="start_skill_no"    />
        <result property="endskillNo"    column="end_skill_no"    />
        <result property="rackAisleId"    column="rack_aisle_id"    />
        <result property="dcRoomId"    column="dc_room_id"    />
        <result property="datacenterId"    column="datacenter_id"    />
        <result property="factoryId"    column="factory_id"    />
        <result property="slotState"    column="slot_state"    />

        <result property="rackAisleName"    column="rack_aisle_name"    />
        <result property="dcRoomName"    column="dc_room_name"    />
        <result property="datacenterName"    column="datacenter_name"    />
        <result property="factoryName"    column="factory_name"    />
        <result property="rackName"    column="rack_name"    />
        <result property="rackEquipmentId"    column="rack_equipment_id"    />

    </resultMap>

    <sql id="selectUmEquipmentRackSlotVo">
        select slot_id,
               slot.rack_id       rack_id,
               slot.start_skill_no start_skill_no,
               slot.end_skill_no end_skill_no,
               slot.rack_aisle_id rack_aisle_id,
               slot.dc_room_id dc_room_id,
               slot.datacenter_id datacenter_id,
               slot.factory_id factory_id,
               slot.slot_state slot_state,
               slot.rack_equipment_id,
               aisle.rack_aisle_name rack_aisle_name,
               room.dc_room_name dc_room_name,
               center.datacenter_name datacenter_name,
               factory.factory_name factory_name,
               rack.rack_name rack_name,
               equ.equipment_name as rackEquipmentName
        from um_equipment_rack_slot slot
                 left join um_equipment_rack rack on slot.rack_id = rack.rack_id
                 left join um_scene_datacenter center on slot.datacenter_id = center.datacenter_id
                 left join um_scene_factory factory on slot.factory_id = factory.factory_id
                 left join um_scene_datacenter_room room on slot.dc_room_id = room.dc_room_id
                 left join um_equipment_rack_aisle aisle on slot.rack_aisle_id = aisle.rack_aisle_id
                 left join um_equipment equ on slot.rack_equipment_id = equ.equipment_id
    </sql>

    <select id="selectUmEquipmentRackSlotList" parameterType="UmEquipmentRackSlot" resultMap="UmEquipmentRackSlotResult">
        <include refid="selectUmEquipmentRackSlotVo"/>
        <where>
            <if test="rackAisleId != null  and rackAisleId != ''"> and slot.rack_aisle_id = #{rackAisleId}</if>
            <if test="rackId != null  and rackId != ''"> and slot.rack_id = #{rackId}</if>
            <if test="dcRoomId != null  and dcRoomId != ''"> and slot.dc_room_id = #{dcRoomId}</if>
            <if test="datacenterId != null  and datacenterId != ''"> and slot.datacenter_id = #{datacenterId}</if>
            <if test="factoryId != null  and factoryId != ''"> and slot.factory_id = #{factoryId}</if>
            <if test="slotState != null  and slotState != ''"> and slot.slot_state = #{slotState}</if>
            <if test="rackId != null  and rackId != ''"> and slot.rack_id = #{rackId}</if>
            <if test="rackEquipmentId != null  and rackEquipmentId != ''"> or slot.rack_equipment_id = #{rackEquipmentId}</if>

        </where>
        order by start_skill_no asc
    </select>

    <select id="selectUmEquipmentRackSlotById" parameterType="String" resultMap="UmEquipmentRackSlotResult">
        <include refid="selectUmEquipmentRackSlotVo"/>
        where slot.slot_id = #{slotId}
    </select>

    <insert id="insertUmEquipmentRackSlot" parameterType="UmEquipmentRackSlot">
        insert into um_equipment_rack_slot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="slotId != null  and slotId != ''">slot_id,</if>
            <if test="rackId != null  and rackId != ''">rack_id,</if>
            <if test="startskillNo != null ">start_skill_no,</if>
            <if test="endskillNo != null ">end_skill_no,</if>
            <if test="rackAisleId != null  and rackAisleId != ''">rack_aisle_id,</if>
            <if test="dcRoomId != null  and dcRoomId != ''">dc_room_id,</if>
            <if test="datacenterId != null  and datacenterId != ''">datacenter_id,</if>
            <if test="factoryId != null  and factoryId != ''">factory_id,</if>
            <if test="slotState != null  and slotState != ''">slot_state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="slotId != null  and slotId != ''">#{slotId},</if>
            <if test="rackId != null  and rackId != ''">#{rackId},</if>
            <if test="startskillNo != null ">#{startskillNo},</if>
            <if test="endskillNo != null ">#{endskillNo},</if>
            <if test="rackAisleId != null  and rackAisleId != ''">#{rackAisleId},</if>
            <if test="dcRoomId != null  and dcRoomId != ''">#{dcRoomId},</if>
            <if test="datacenterId != null  and datacenterId != ''">#{datacenterId},</if>
            <if test="factoryId != null  and factoryId != ''">#{factoryId},</if>
            <if test="slotState != null  and slotState != ''">#{slotState},</if>
         </trim>
    </insert>

    <update id="updateUmEquipmentRackSlot" parameterType="UmEquipmentRackSlot">
        update um_equipment_rack_slot
        <trim prefix="SET" suffixOverrides=",">
            <if test="rackId != null  and rackId != ''">rack_id = #{rackId},</if>
            <if test="startskillNo != null ">start_skill_no = #{startskillNo},</if>
            <if test="endskillNo != null ">end_skill_no = #{endskillNo},</if>
            <if test="rackAisleId != null  and rackAisleId != ''">rack_aisle_id = #{rackAisleId},</if>
            <if test="dcRoomId != null  and dcRoomId != ''">dc_room_id = #{dcRoomId},</if>
            <if test="datacenterId != null  and datacenterId != ''">datacenter_id = #{datacenterId},</if>
            <if test="factoryId != null  and factoryId != ''">factory_id = #{factoryId},</if>
            <if test="slotState != null">slot_state = #{slotState},</if>
        </trim>
        ,rack_equipment_id = #{rackEquipmentId}
        where slot_id = #{slotId}
    </update>

    <!--逻辑删除时使用该语句
    <update id="deleteUmEquipmentRackSlotByIds" parameterType="String">
        update um_equipment_rack_slot
        <trim prefix="SET" suffixOverrides=",">
            status = '1'
        </trim>
        where  slot_id in
        <foreach item="slotId" collection="array" open="(" separator="," close=")">
            #{slotId}
        </foreach>
    </update>-->

    <delete id="deleteUmEquipmentRackSlotById" parameterType="String">
        delete from um_equipment_rack_slot where slot_id = #{slotId}
    </delete>

    <delete id="deleteUmEquipmentRackSlotByIds" parameterType="String">
        delete from um_equipment_rack_slot where slot_id in
        <foreach item="slotId" collection="array" open="(" separator="," close=")">
            #{slotId}
        </foreach>
    </delete>

    <!--根据中心ID获取slot -->
    <select id="selectUmEquipmentRackSlotByCenterIds" parameterType="String" resultMap="UmEquipmentRackSlotResult">
        <include refid="selectUmEquipmentRackSlotVo"/>
         where slot.datacenter_id in
        <foreach item="datacenterId" collection="array" open="(" separator="," close=")">
            #{datacenterId}
        </foreach>
    </select>
    <select id="selectUmEquipmentRackSlotByEquId" resultMap="UmEquipmentRackSlotResult">
        <include refid="selectUmEquipmentRackSlotVo"/>
        where slot.rack_equipment_id in
        <foreach item="equipmentId" collection="array" open="(" separator="," close=")">
            #{equipmentId}
        </foreach>
    </select>


</mapper>