<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skill.manager.mapper.UmSceneDatacenterMapper">
    
    <resultMap type="UmSceneDatacenter" id="UmSceneDatacenterResult">
        <result property="datacenterId"    column="datacenter_id"    />
        <result property="factoryId"    column="factory_id"    />
        <result property="datacenterName"    column="datacenter_name"    />
        <result property="totalArea"    column="total_area"    />
        <result property="totalLimitskill"    column="total_limit_skill"    />
        <result property="totalActualskill"    column="total_actual_skill"    />
        <result property="limitServer"    column="limit_server"    />
        <result property="actualServer"    column="actual_server"    />
        <result property="states"    column="states"    />
        <result property="tdModelId"    column="td_model_id"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="imgUrl"    column="img_url"    />
    </resultMap>

    <sql id="selectUmSceneDatacenterVo">
        select f.factory_name as factoryName ,dc.datacenter_id, dc.factory_id,dc.datacenter_name, dc.total_area,
        dc.total_limit_skill, dc.total_actual_skill, dc.limit_server, dc.actual_server,
        dc.states, dc.td_model_id, dc.status, dc.create_by, dc.create_time, dc.update_by, dc.update_time,dc.img_url
         from um_scene_datacenter dc
         left join um_scene_factory f on dc.factory_id = f.factory_id
    </sql>

    <select id="selectUmSceneDatacenterList" parameterType="UmSceneDatacenter" resultMap="UmSceneDatacenterResult">
        <include refid="selectUmSceneDatacenterVo"/>
        <where>
            and  dc.status = '0'
            <if test="factoryId != null  and factoryId != ''"> and dc.factory_id = #{factoryId}</if>
            <if test="datacenterName != null  and datacenterName != ''"> and dc.datacenter_name like concat('%', #{datacenterName}, '%')</if>
            <if test="states != null  and states != ''"> and dc.states = #{states}</if>
        </where>
        order by dc.create_time  desc
    </select>
    
    <select id="selectUmSceneDatacenterById" parameterType="String" resultMap="UmSceneDatacenterResult">
        <include refid="selectUmSceneDatacenterVo"/>
        where dc.datacenter_id = #{datacenterId}
    </select>

    <select id="selectUmSceneDatacenterByAllList" parameterType="UmSceneDatacenter" resultMap="UmSceneDatacenterResult">
        SELECT  factory_id,factory_id AS 'pId',datacenter_id AS 'key',datacenter_name AS 'title' FROM um_scene_datacenter
        <where>
            status='0'
        </where>
    </select>

        <insert id="insertUmSceneDatacenter" parameterType="UmSceneDatacenter">
            insert into um_scene_datacenter
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="datacenterId != null  and datacenterId != ''">datacenter_id,</if>
                <if test="factoryId != null  and factoryId != ''">factory_id,</if>
                <if test="datacenterName != null  and datacenterName != ''">datacenter_name,</if>
                <if test="totalArea != null ">total_area,</if>
                <if test="totalLimitskill != null ">total_limit_skill,</if>
                <if test="totalActualskill != null ">total_actual_skill,</if>
                <if test="limitServer != null ">limit_server,</if>
                <if test="actualServer != null ">actual_server,</if>
                <if test="states != null  and states != ''">states,</if>
                <if test="tdModelId != null  and tdModelId != ''">td_model_id,</if>
                <if test="status != null  and status != ''">status,</if>
                <if test="createBy != null  and createBy != ''">create_by,</if>
                <if test="createTime != null ">create_time,</if>
                <if test="updateBy != null  and updateBy != ''">update_by,</if>
                <if test="updateTime != null ">update_time,</if>
                <if test="imgUrl != null ">img_url,</if>
             </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="datacenterId != null  and datacenterId != ''">#{datacenterId},</if>
                <if test="factoryId != null  and factoryId != ''">#{factoryId},</if>
                <if test="datacenterName != null  and datacenterName != ''">#{datacenterName},</if>
                <if test="totalArea != null ">#{totalArea},</if>
                <if test="totalLimitskill != null ">#{totalLimitskill},</if>
                <if test="totalActualskill != null ">#{totalActualskill},</if>
                <if test="limitServer != null ">#{limitServer},</if>
                <if test="actualServer != null ">#{actualServer},</if>
                <if test="states != null  and states != ''">#{states},</if>
                <if test="tdModelId != null  and tdModelId != ''">#{tdModelId},</if>
                <if test="status != null  and status != ''">#{status},</if>
                <if test="createBy != null  and createBy != ''">#{createBy},</if>
                <if test="createTime != null ">#{createTime},</if>
                <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
                <if test="updateTime != null ">#{updateTime},</if>
                <if test="imgUrl != null ">#{imgUrl},</if>
             </trim>
        </insert>

        <update id="updateUmSceneDatacenter" parameterType="UmSceneDatacenter">
            update um_scene_datacenter
            <trim prefix="SET" suffixOverrides=",">
                <if test="factoryId != null  and factoryId != ''">factory_id = #{factoryId},</if>
                <if test="datacenterName != null  and datacenterName != ''">datacenter_name = #{datacenterName},</if>
                total_area = #{totalArea},
                <if test="totalLimitskill != null ">total_limit_skill = #{totalLimitskill},</if>
                <if test="totalActualskill != null ">total_actual_skill = #{totalActualskill},</if>
                <if test="limitServer != null ">limit_server = #{limitServer},</if>
                <if test="actualServer != null ">actual_server = #{actualServer},</if>
                <if test="states != null ">states = #{states},</if>
                <if test="tdModelId != null">td_model_id = #{tdModelId},</if>
                <if test="status != null  ">status = #{status},</if>
                <if test="createBy != null ">create_by = #{createBy},</if>
                <if test="createTime != null ">create_time = #{createTime},</if>
                <if test="updateBy != null  ">update_by = #{updateBy},</if>
                <if test="updateTime != null ">update_time = #{updateTime},</if>
                <if test="imgUrl != null ">img_url = #{imgUrl},</if>
            </trim>
            where datacenter_id = #{datacenterId}
        </update>

        <!--删除实际上是逻辑删除-->
    <update id="deleteUmSceneDatacenterByIds" parameterType="String">
        update um_scene_datacenter
        <trim prefix="SET" suffixOverrides=",">
            status = '1'
        </trim>
        where datacenter_id in
        <foreach item="datacenterId" collection="array" open="(" separator="," close=")">
            #{datacenterId}
        </foreach>
    </update>

    <delete id="deleteUmSceneDatacenterById" parameterType="String">
        delete from um_scene_datacenter where datacenter_id = #{datacenterId}
    </delete>

<!--    <delete id="deleteUmSceneDatacenterByIds" parameterType="String">-->
<!--        delete from um_scene_datacenter where datacenter_id in -->
<!--        <foreach item="datacenterId" collection="array" open="(" separator="," close=")">-->
<!--            #{datacenterId}-->
<!--        </foreach>-->
<!--    </delete>-->
    
</mapper>