<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skill.manager.mapper.UmSceneDatacenterRoomMapper">
    
    <resultMap type="UmSceneDatacenterRoom" id="UmSceneDatacenterRoomResult">
        <result property="dcRoomId"    column="dc_room_id"    />
        <result property="datacenterId"    column="datacenter_id"    />
        <result property="factoryId"    column="factory_id"    />
        <result property="dcRoomName"    column="dc_room_name"    />
        <result property="dcRoomType"    column="dc_room_type"    />
        <result property="sort"    column="sort"    />
        <result property="description"    column="description"    />
        <result property="length"    column="length"    />
        <result property="width"    column="width"    />
        <result property="height"    column="height"    />
        <result property="area"    column="area"    />
        <result property="limitskill"    column="limit_skill"    />
        <result property="actualskill"    column="actual_skill"    />
        <result property="limitServer"    column="limit_server"    />
        <result property="actualServer"    column="actual_server"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="tdModelId"    column="td_model_id"    />
        <result property="relativeX"    column="relative_x"    />
        <result property="relativeY"    column="relative_y"    />
        <result property="relativeZ"    column="relative_z"    />
        <result property="relativerotX"    column="relativerot_x"    />
        <result property="relativerotY"    column="relativerot_y"    />
        <result property="relativerotZ"    column="relativerot_z"    />
    </resultMap>

    <sql id="selectUmSceneDatacenterRoomVo">
        select f.factory_name as factoryName,dc.datacenter_name as datacenterName,dcr.dc_room_id, dcr.datacenter_id, dcr.factory_id, dcr.dc_room_name,
        dcr.dc_room_type, dcr.sort, dcr.description, dcr.length, dcr.width, dcr.height, dcr.area,
         dcr.limit_skill, dcr.actual_skill, dcr.limit_server, dcr.actual_server, dcr.status,
         dcr.create_by, dcr.create_time, dcr.update_by, dcr.update_time,dcr.td_model_id,
         dcr.relative_x, dcr.relative_y, dcr.relative_z,
         dcr.relativerot_x, dcr.relativerot_y, dcr.relativerot_z
         from um_scene_datacenter_room  dcr
         left join um_scene_datacenter dc on dcr.datacenter_id = dc.datacenter_id
         left join um_scene_factory f on dcr.factory_id = f.factory_id
    </sql>

    <select id="selectUmSceneDatacenterRoomList" parameterType="UmSceneDatacenterRoom" resultMap="UmSceneDatacenterRoomResult">
        <include refid="selectUmSceneDatacenterRoomVo"/>
        <where>
            and  dcr.status = '0'
            <if test="datacenterId != null  and datacenterId != ''"> and dcr.datacenter_id = #{datacenterId}</if>
            <if test="factoryId != null  and factoryId != ''"> and dcr.factory_id = #{factoryId}</if>
            <if test="dcRoomName != null  and dcRoomName != ''"> and dcr.dc_room_name like concat('%', #{dcRoomName}, '%')</if>
            <if test="dcRoomType != null  and dcRoomType != ''"> and dcr.dc_room_type = #{dcRoomType}</if>
        </where>
        order by dcr.sort,dcr.create_time  desc
    </select>
    
    <select id="selectUmSceneDatacenterRoomById" parameterType="String" resultMap="UmSceneDatacenterRoomResult">
        <include refid="selectUmSceneDatacenterRoomVo"/>
        where dcr.dc_room_id = #{dcRoomId}
    </select>

    <select id="selectUmSceneDatacenterRoomBydatacenterIdList" parameterType="UmSceneDatacenterRoom" resultMap="UmSceneDatacenterRoomResult">
        SELECT datacenter_id AS 'pId',dc_room_id AS 'key',dc_room_name AS 'title' FROM um_scene_datacenter_room
        <where>
            status='0'
        </where>
        order by sort,create_time  desc
    </select>
        
    <insert id="insertUmSceneDatacenterRoom" parameterType="UmSceneDatacenterRoom">
        insert into um_scene_datacenter_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dcRoomId != null  and dcRoomId != ''">dc_room_id,</if>
            <if test="datacenterId != null  and datacenterId != ''">datacenter_id,</if>
            <if test="factoryId != null  and factoryId != ''">factory_id,</if>
            <if test="dcRoomName != null  and dcRoomName != ''">dc_room_name,</if>
            <if test="dcRoomType != null  and dcRoomType != ''">dc_room_type,</if>
            <if test="sort != null ">sort,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="length != null ">length,</if>
            <if test="width != null ">width,</if>
            <if test="height != null ">height,</if>
            <if test="area != null ">area,</if>
            <if test="limitskill != null ">limit_skill,</if>
            <if test="actualskill != null ">actual_skill,</if>
            <if test="limitServer != null ">limit_server,</if>
            <if test="actualServer != null ">actual_server,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="relativeX != null ">relative_x,</if>
            <if test="relativeY != null ">relative_y,</if>
            <if test="relativeZ != null ">relative_z,</if>
            <if test="relativerotX != null ">relativerot_x,</if>
            <if test="relativerotY != null ">relativerot_y,</if>
            <if test="relativerotZ != null ">relativerot_z,</if>
            <if test="tdModelId != null  and tdModelId != ''">td_model_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dcRoomId != null  and dcRoomId != ''">#{dcRoomId},</if>
            <if test="datacenterId != null  and datacenterId != ''">#{datacenterId},</if>
            <if test="factoryId != null  and factoryId != ''">#{factoryId},</if>
            <if test="dcRoomName != null  and dcRoomName != ''">#{dcRoomName},</if>
            <if test="dcRoomType != null  and dcRoomType != ''">#{dcRoomType},</if>
            <if test="sort != null ">#{sort},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="length != null ">#{length},</if>
            <if test="width != null ">#{width},</if>
            <if test="height != null ">#{height},</if>
            <if test="area != null ">#{area},</if>
            <if test="limitskill != null ">#{limitskill},</if>
            <if test="actualskill != null ">#{actualskill},</if>
            <if test="limitServer != null ">#{limitServer},</if>
            <if test="actualServer != null ">#{actualServer},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="relativeX != null ">#{relativeX},</if>
            <if test="relativeY != null ">#{relativeY},</if>
            <if test="relativeZ != null ">#{relativeZ},</if>
            <if test="relativerotX != null ">#{relativerotX},</if>
            <if test="relativerotY != null ">#{relativerotY},</if>
            <if test="relativerotZ != null ">#{relativerotZ},</if>
            <if test="tdModelId != null  and tdModelId != ''">#{tdModelId},</if>
        </trim>
    </insert>

    <update id="updateUmSceneDatacenterRoom" parameterType="UmSceneDatacenterRoom">
        update um_scene_datacenter_room
        <trim prefix="SET" suffixOverrides=",">
            <if test="datacenterId != null ">datacenter_id = #{datacenterId},</if>
            <if test="factoryId != null  ">factory_id = #{factoryId},</if>
            <if test="dcRoomName != null  ">dc_room_name = #{dcRoomName},</if>
            <if test="dcRoomType != null  ">dc_room_type = #{dcRoomType},</if>
            <if test="sort != null ">sort = #{sort},</if>
            <if test="description != null  ">description = #{description},</if>
            <if test="length != null ">length = #{length},</if>
            <if test="width != null ">width = #{width},</if>
            <if test="height != null ">height = #{height},</if>
            <if test="area != null ">area = #{area},</if>
            <if test="limitskill != null ">limit_skill = #{limitskill},</if>
            <if test="actualskill != null ">actual_skill = #{actualskill},</if>
            <if test="limitServer != null ">limit_server = #{limitServer},</if>
            <if test="actualServer != null ">actual_server = #{actualServer},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="relativeX != null ">relative_x = #{relativeX},</if>
            <if test="relativeY != null ">relative_y = #{relativeY},</if>
            <if test="relativeZ != null ">relative_z = #{relativeZ},</if>
            <if test="relativerotX != null ">relativerot_x = #{relativerotX},</if>
            <if test="relativerotY != null ">relativerot_y = #{relativerotY},</if>
            <if test="relativerotZ != null ">relativerot_z = #{relativerotZ},</if>
            <if test="tdModelId != null ">td_model_id = #{tdModelId},</if>

        </trim>
        where dc_room_id = #{dcRoomId}
    </update>

    <!--删除实际上是逻辑删除-->
    <update id="deleteUmSceneDatacenterRoomByIds" parameterType="String">
        update um_scene_datacenter_room
        <trim prefix="SET" suffixOverrides=",">
            status = '1'
        </trim>
        where dc_room_id in
        <foreach item="dcRoomId" collection="array" open="(" separator="," close=")">
            #{dcRoomId}
        </foreach>
    </update>

    <delete id="deleteUmSceneDatacenterRoomById" parameterType="String">
        delete from um_scene_datacenter_room where dc_room_id = #{dcRoomId}
    </delete>

<!--    <delete id="deleteUmSceneDatacenterRoomByIds" parameterType="String">-->
<!--        delete from um_scene_datacenter_room where dc_room_id in -->
<!--        <foreach item="dcRoomId" collection="array" open="(" separator="," close=")">-->
<!--            #{dcRoomId}-->
<!--        </foreach>-->
<!--    </delete>-->
    
</mapper>